ul {
    padding: 0;
    margin: 0;
  }

li {
    list-style: none;
  }

.SearchInput {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

img {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 0px;
    margin: 0;
}

.Suggestion {
    /* position: absolute; */
    font-size: 14px;
    width: 300px;
    top: 70%;
    z-index: 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.Suggestion li:hover {
    background-color: #90CDF4;
}

.Suggestion__item--selected {
    background-color: #BEE3F8;
}
